:root {
    --p-white: hsl(100, 100%, 99%);
    --p-purple-1: hsl(244, 34%, 15%);
    --p-purple-2: hsl(245, 28%, 18%);
    --p-purple-3: hsl(245, 23%, 21%);
    --p-purple-4: hsl(246, 30%, 26%);
    --p-purple-10: hsl(245, 69%, 77%);
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'JetBrains Mono';
    scroll-margin-top: 5em;
}

body {
    margin: 0;
    padding: 0;

    color: var(--p-white);
    background: var(--p-purple-1);
}

a {
    color: var(--p-purple-10);
}

main {
    background: var(--p-purple-1);

    padding: 1em;

    --header-margin: 5em;
    width: 100vw;
    height: calc(100vh - var(--header-margin));
    margin-top: 5em;
}

h1 {
    margin-top: 0;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
