#viewer-root {
    display: flex;
    flex-direction: row;
    gap: 1em;

    max-width: 100%;
    justify-content: center;

    padding: 1em;
}

nav {
    display: flex;
    flex-direction: column;

    position: sticky;
    top: 6em;

    align-items: flex-start;

    background: var(--p-purple-3);
    padding: 1em;
    border-radius: 10px;

    height: min-content;

    box-shadow: rgb(0, 0, 0, 20%) 0px 0px 10px;
}

#item-list {
    flex-basis: 70%;
    max-width: 700px;
}

nav > h3 {
    margin: 0;
    margin-bottom: 0.5em;
}

nav > a {
    width: min-content;
}

details {
    background: var(--p-purple-4);
    padding: 1em;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0, 20%) 0px 0px 10px;

    outline: 3px solid transparent;
}

details:has(summary > h4.highlighted) {
    animation: details-highlight 2s ease-out;
}

@keyframes details-highlight {
    from, 50% {
        outline-color: var(--p-gold);
    }
    to {
        outline-color: transparent;
    }
}

details:not(:first-child), details > :not(:first-child) {
    margin-top: 1em;
}

details > summary {
    pointer-events: none;
}

details > summary::marker {
    display: none;
    content: '';
}

details > summary > h4 {
    margin: 0;
    margin-bottom: 1em;
}

details pre {
    background: rgb(0, 0, 0, 50%);

    padding: 1em;
    margin: 0;
    border-radius: 5px;

    overflow: auto;
}

@media (max-width: 850px) {
    #viewer-root {
        flex-direction: column;
    }

    nav {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;

        position: relative;
        top: 0;
    }

    #item-list {
        flex-basis: 0;
        max-width: 100%;
    }

    nav > h3 {
        margin: 0;
        flex-basis: 100%;
    }
}
