article {
    background: var(--p-purple-4);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0, 20%) 0px 0px 10px;
    outline: 3px solid transparent;
    position: relative;
}

article:focus-within {
    animation: article-highlight 2s ease-out;
}

@keyframes article-highlight {
    from, 50% {
        outline-color: var(--p-gold);
    }

    to {
        outline-color: transparent;
    }
}

article > ::deep :not(button):not(:first-child) {
    margin-top: 1rem;
}

article > ::deep h4 {
    margin: 0;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    white-space: pre;
}

article > section > h5 {
    font-style: italic;
    margin: 0 0 1rem 0;
    color: var(--p-purple-10);
}

article > section.parameters {
    counter-reset: parameter-index 0;
}

article > section.parameters > div > .name::after {
    content: ': ';
}

article > section.parameters > div > .summary {
    display: block;
    margin-left: 1.6rem;
}

article > section.parameters > div > .name::before {
    content: counter(parameter-index) '.';
    counter-increment: parameter-index 1;
    margin-right: 0.4rem;
}

article > section.parameters > div:nth-child(n+1) {
    margin-top: 0.5rem;
}
