article {
    background: var(--p-purple-4);
    padding: 1em;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0, 20%) 0px 0px 10px;
    outline: 3px solid transparent;
    position: relative;
}

article:has(h4:focus) {
    animation: article-highlight 2s ease-out;
}

@keyframes article-highlight {
    from, 50% {
        outline-color: var(--p-gold);
    }

    to {
        outline-color: transparent;
    }
}

article > :not(:first-child):not(button) {
    margin-top: 1em;
}

article > h4 {
    margin: 0;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    white-space: pre;
}

article pre {
    background: rgb(0, 0, 0, 50%);
    padding: 1em;
    margin: 0;
    border-radius: 5px;
    position: relative;
    overflow: auto;
}

article > section > h5 {
    font-style: italic;
    margin: 0 0 1em 0;
    color: var(--p-purple-10);
}

article > section.parameters {
    counter-reset: parameter-index 0;
}

article > section.parameters > div > .name::after {
    content: ': ';
}

article > section.parameters > div > .summary {
    display: block;
    margin-left: 1.6em;
}

article > section.parameters > div > .name::before {
    content: counter(parameter-index) '.';
    counter-increment: parameter-index 1;
    margin-right: 0.4em;
}

article > section.parameters > div:nth-child(n+1) {
    margin-top: 0.5em;
}

.copy-button {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 8px;
    top: 8px;
    background: transparent;
    border: none;
    cursor: pointer;
    opacity: 0;
    transform: scale(1);
    transition: opacity ease-in-out 0.1s, transform ease-in-out 0.1s;
}

.copy-button:active {
    transform: scale(0.8);
}

.copy-button > img {
    width: 100%;
    height: 100%;
}

*:hover > .copy-button {
    opacity: 0.5;
}
