#viewer-root {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) minmax(0, 2fr);
    grid-gap: 1em;

    max-width: 100%;
    justify-content: center;
}

nav {
    justify-self: end;

    display: flex;
    flex-direction: column;

    position: sticky;
    top: 6em;

    align-items: flex-start;

    background: var(--p-purple-3);
    padding: 1em;
    border-radius: 10px;

    height: min-content;

    box-shadow: rgb(0, 0, 0, 20%) 0px 0px 10px;
}

#item-list {
    justify-self: start;

    max-width: 700px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

nav > h3 {
    margin: 0;
    margin-bottom: 0.5em;
}

@media (min-width: 851px) {
    nav > a {
        text-align: justify;
        height: 1rem;
        width: 100%;
    }

    nav > a::after {
        /* stretch */
        content: '';
        width: 100%;
        display: inline-block;
    }

    nav > a:nth-child(n+3) {
        margin-top: 0.5em;
    }
}

@media (max-width: 850px) {
    #viewer-root {
        display: flex;
        gap: 1em;
        flex-direction: column;
    }

    nav {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
        position: relative;
        top: 0;
    }

    #item-list {
        flex-basis: 0;
        max-width: 100%;
    }

    nav > h3 {
        margin: 0;
        flex-basis: 100%;
    }
}
