@using VectorLangDocs.Shared.DocumentationModel

@{
    var name = InstanceTypeDocumentation.Name;
}

<a href="type/@name" title="@name type">@name</a>

@code {
    [Parameter, EditorRequired]
    public InstanceTypeDocumentation InstanceTypeDocumentation { get; set; } = null!;
}
