@using System.Reflection
@using VectorLangDocs.Shared.DocumentationModel

@inherits LayoutComponentBase

<PageTitle>VectorLang Docs</PageTitle>

<PageHeader />

<main>
    <PageNavigation @ref="_PageNavigation" />

    <article>
        <CascadingValue Value="LoadLanguageDocumentation()" IsFixed="true">
            @Body
        </CascadingValue>
    </article>
</main>

@code {
    private PageNavigation? _PageNavigation = null;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            _PageNavigation?.Update();
        }
    }

    private VectorLangDocumentation LoadLanguageDocumentation()
    {
        return VectorLangDocumentation.FromXml(ReadEmbeddedResource("VectorLang/docs/en.xml"));
    }

    private string ReadEmbeddedResource(string resourceName)
    {
        var assembly = Assembly.GetExecutingAssembly()!;

        using Stream stream = assembly.GetManifestResourceStream(resourceName)!;
        using StreamReader reader = new StreamReader(stream);

        return reader.ReadToEnd();
    }
}
