<header>
    <a id="logo-text" href="/">
        <img src="./icon.png" alt="VectorLang logo" />
        VectorLang Documentation
    </a>
    <nav>
        <a href="/list/types">Types</a>
        <a href="/list/constants">Constants</a>
        <a href="/list/functions">Functions</a>
    </nav>
</header>
