<header>
    <a id="burger-menu-open-button" tabindex="-1">
        <svg viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 2H7M2 4.5H7M2 7H7" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </a>
    <a id="logo-text" href="" data-short-text="Docs">
        <img src="./icon.png" alt="VectorLang logo" />
        <span>VectorLang Documentation</span>
    </a>
    <nav>
        <a tabindex="0" href="types">Types</a>
        <a tabindex="0" href="constants">Constants</a>
        <a tabindex="0" href="functions">Functions</a>
    </nav>
</header>
