textarea {
    width: 100%;
    height: 70vh;
    resize: none;
    border-radius: 0;
    outline: none;
    border: none;
}

#sections {
    width: 100%;
    display: flex;
}

#sections > section {
    flex: 1;
    margin: 3px;
    border: 2px solid gray;
    border-radius: 3px;
}

#tokens-section {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}
