@page "/"
@using System.Reflection
@using VectorLangDocs.Shared.DocumentationModel

<h1>Hello, world!</h1>

@{
    LanguageDocumentation.Types.TryGet("vector", out var vectorTypeDocs);
}

<DocumentationRepositoryView Items="vectorTypeDocs.Fields.Items" />
<DocumentationRepositoryView Items="vectorTypeDocs.Methods.Items" />
<DocumentationRepositoryView Items="vectorTypeDocs.BinaryOperators.Items" />
<DocumentationRepositoryView Items="vectorTypeDocs.UnaryOperators.Items" />

@code {
    [CascadingParameter]
    public VectorLangDocumentation LanguageDocumentation { get; set; } = null!;
}
