@using VectorLangDocs.Shared.DocumentationModel

@page "/types"
@page "/constants"
@page "/functions"

@inject NavigationManager NavigationManager

<NavigationHeader HeaderLevel=1 TextInNavigation=@CurrentPage>
    @Capitalize(CurrentPage)
</NavigationHeader>

<div id="sections">
    @foreach (var itemGroup in GroupedItems)
    {
        <section>
            @if (itemGroup.Key is { } libraryName)
            {
                <NavigationHeader HeaderLevel=2 IsSection=true TextInNavigation=@libraryName>
                    @Capitalize(libraryName)
                </NavigationHeader>
            }

            @foreach (var item in itemGroup)
            {
                <DocumentationItemView Item="item" />
            }
        </section>
    }
</div>

@code {
    [CascadingParameter]
    public VectorLangDocumentation LanguageDocumentation { get; set; } = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        NavigationManager.LocationChanged += (_, _) => StateHasChanged();
    }

    private string CurrentPage
    {
        get
        {
            var baseLength = NavigationManager.BaseUri.Length;
            var endIndex = NavigationManager.Uri.IndexOf('#') is var index and not -1 ? new System.Index(index) : System.Index.End;
            return NavigationManager.Uri[baseLength..endIndex];
        }
    }

    private IEnumerable<DocumentationItem> Items
    {
        get => CurrentPage switch
        {
            "types" => LanguageDocumentation.Types.Items,
            "constants" => LanguageDocumentation.Constants.Items,
            "functions" => LanguageDocumentation.Functions.Items,
            _ => throw new NotImplementedException(),
        };
    }

    private IEnumerable<IGrouping<string?, DocumentationItem>> GroupedItems
    {
        get => Items.GroupBy(docItem => docItem is ILibraryItemDocumentation { LibraryName: var libraryName } ? libraryName : null);
    }

    private static string Capitalize(string str)
    {
        return str.Length switch
        {
            0 or 1 => str,
            _ => char.ToUpper(str[0]).ToString() + str[1..],
        };
    }
}
