h1 {
    margin-top: 0;
    font-size: 2em;
    position: relative;
    width: fit-content;
}

#sections {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

#sections > section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#sections > section > h2 {
    margin: 0;
    position: relative;
    width: fit-content;
}
