@page "/"
@using VectorLang.Compilation
@using VectorLang.Model

<div id="sections">
    <section id="code-editor-section">
        <CodeEditor @ref=CodeEditor InitialCode=@ExampleProgram OnCodeEdited=OnCodeEdited />
    </section>
    <section>
        <DiagramView Vectors=LastPlottedVectors />
    </section>
</div>

@code {
    private const string ExampleProgram = @"
// Velcome to VectorLang!

def sum(vector a, vector b) -> vector = a + b;

def main() -> void = [
    val a := {1, 0};
    val b := {0, 1};

    fill(RED);
    plot(a);

    fill(BLUE);
    plot(b);

    fill(MAGENTA);
    plot(sum(a, b));
];
";

    private CodeEditor CodeEditor = null!;

    private IReadOnlyList<PlottedVector> LastPlottedVectors = Array.Empty<PlottedVector>();

    private async Task OnCodeEdited(string code)
    {
        await CodeEditor.ClearReportsAsync();

        var compiledProgram = ProgramCompiler.Compile(code, out var reports);

        foreach (var report in reports)
        {
            await CodeEditor.AddReportAsync(report);
        }

        if (compiledProgram is not null)
        {
            // TODO: runtime exception
            LastPlottedVectors = compiledProgram.PlotVectors();
        }
    }
}
