@page "/"
@using VectorLang.Compilation
@using VectorLang.Model

<div id="sections">
    <section id="code-editor-section">
        <CodeEditor InitialCode=@ExampleProgram OnProgramCompiled="OnProgramCompiled" />
    </section>
    <section>
        <DiagramView Vectors=LastPlottedVectors />
    </section>
</div>

@code {
    private const string ExampleProgram = @"
// Velcome to VectorLang!

def sum(vector a, vector b) -> vector = a + b;

def main() -> void = [
    val a := {1, 0};
    val b := {0, 1};

    fill(#ff0000);
    plot(a);

    fill(#0000ff);
    plot(b);

    fill(#ff00ff);
    plot(sum(a, b));
];
";

    private IReadOnlyList<PlottedVector> LastPlottedVectors = Array.Empty<PlottedVector>();

    private void OnProgramCompiled(CompiledProgram compiledProgram)
    {
        LastPlottedVectors = compiledProgram.PlotVectors();
    }
}
