#sections {
    display: flex;
    flex-direction: row;

    height: 100%;
    background-color: black;
}

#sections > section {
    flex: 1;
    height: 100%;
}

#code-editor-section {
    z-index: 1;
    overflow: hidden;
}
