@page "/"
@using VectorLang.Compilation
@using VectorLang.Model

<PageTitle>Index</PageTitle>

<div id="sections">
    <section>
        <CodeEditor InitialCode=@ExampleProgram OnProgramCompiled="OnProgramCompiled" />
    </section>
    <section>
        <DiagramView Vectors=LastPlottedVectors />
    </section>
</div>

@code {
    private const string ExampleProgram = @"
// Velcome to VectorLang!

def sum(vector a, vector b) -> vector = a + b;

def main() -> void = [
    val a := {10, 0};
    val b := {0, 10};

    plot(a, 'A', #ff0000);
    plot(b, 'B', #0000ff);

    plot(sum(a, b), 'A + B', #ff00ff);
];
";

    private IReadOnlyList<PlottedVector> LastPlottedVectors = Array.Empty<PlottedVector>();

    private void OnProgramCompiled(CompiledProgram compiledProgram)
    {
        LastPlottedVectors = compiledProgram.PlotVectors();
    }
}
