@using VectorLang.Compilation
@using VectorLang.Diagnostics
@using VectorLang.Model
@using VectorLang.Tokenization

@implements IDisposable

@inject IJSRuntime JSRuntime

<div id="monaco-container" style="height: 100%"></div>

@code {
    [Parameter]
    public string InitialValue { get; set; } = "";

    [Parameter]
    public EventCallback<string> OnChange { get; set; }

    [Parameter]
    public Func<TextLocation, IReadOnlyList<Completion>?>? CompletionProvider { get; set; }

    public string Value { get; private set; } = "";

    private DotNetObjectReference<CodeEditor>? ThisJsReference;

    private IJSObjectReference? MonacoEditorReference;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Value = InitialValue;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            ThisJsReference = DotNetObjectReference.Create(this);
            MonacoEditorReference = await JSRuntime.InvokeAsync<IJSObjectReference>("interop.createMonacoEditor", ThisJsReference, "#monaco-container", InitialValue);

            await OnDidChangeContent(InitialValue);
        }
    }

    void IDisposable.Dispose()
    {
        ThisJsReference?.Dispose();
    }

    [JSInvokable]
    public async Task OnDidChangeContent(string code)
    {
        Value = code;

        await OnChange.InvokeAsync(code);
    }

    [JSInvokable]
    public IReadOnlyList<Completion> FetchCompletions(int cursorLine, int cursorColumn)
    {
        var cursorLocation = new TextLocation(cursorLine, cursorColumn);

        return CompletionProvider?.Invoke(cursorLocation) ?? Array.Empty<Completion>();
    }

    public async Task ClearReportsAsync()
    {
        if (MonacoEditorReference is not null)
        {
            await MonacoEditorReference.InvokeVoidAsync("clearReports");
        }
    }

    public async Task AddReportAsync(Report report)
    {
        if (MonacoEditorReference is not null)
        {
            await MonacoEditorReference.InvokeVoidAsync("addReport", report);
        }
    }
}
