@using VectorLang.Model

@inject IJSRuntime JSRuntime

<div style="display: flex; width: 100%; height: 100%" id="diagram">
    <svg xmlns="http://www.w3.org/2000/svg"
        viewBox="-10 -10 10 10"
        preserveAspectRatio="xMidYMid slice"
        style="overflow: visible"
        id="vectors"
    >
        <g transform="translate(-5, -5)">
            @foreach (var vector in Vectors)
            {
                <PlottedVectorView Vector=vector />
            }
        </g>
    </svg>
</div>

@code {
    [Parameter]
    public IReadOnlyList<PlottedVector> Vectors { get; set; } = Array.Empty<PlottedVector>();

    private IJSObjectReference? PanZoom;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            PanZoom = await JSRuntime.InvokeAsync<IJSObjectReference>("interop.createPanZoom", "#diagram");
        }
    }
}
