@using VectorLang.Model

<div id="vectors">
    @foreach (var vector in Vectors)
    {
        <PlottedVectorView Vector=vector />
    }
</div>

@code {
    [Parameter]
    public IReadOnlyList<PlottedVector> Vectors { get; set; } = Array.Empty<PlottedVector>();
}
